.faq {

	details + details { margin-top: 3rem; }

	summary {
		font-size: 1.1rem;
		font-weight: 500;
		outline: 0;
		cursor: pointer;
		list-style-type: none;

		&::-webkit-details-marker { display:none; }
	}
}
