.landing {
	height: calc(100vh - #{$body-padding});
	position: relative;

	.hero {
		z-index: 1;

		h1 {
			font-weight: 600;
			font-size: 1.6rem;
		}

		.tagline {
			font-size: $font-size--tagline;
			text-transform: uppercase;
			font-weight: 900;
			line-height: 0.5;
			margin: 0.5em 0;
			max-width: 65%;
			letter-spacing: -0.025em;
		}

		p {
			box-sizing: border-box;
			width: 35%;
			padding-right: $body-padding;
		}
	}

	.cover {
		position: absolute;
		right: 0;
		width: 65%;
		height: 80%;
		object-fit: cover;
		z-index: -1;
		background: #f8f8f8;
		mask-image: linear-gradient(to right, rgba(#000, 0.6), #000 75%);
		// border-radius: 5px;
	}

	.slideshow {
		position: relative;
		height: 100%;
		display: grid;
		align-items: center;

		&__controls {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 2;
		}

		&__prev,
		&__next {
			appearance: none;
			border: none;
			background: none;
			outline: none;
			cursor: pointer;

			img {
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}
}
