input.search {
	outline: 0;
	border: 0;
	font: inherit;
	padding: 0.25em 0;
	padding-left: 2.5em;
	background: url('../assets/vectors/search.svg') no-repeat left center;
	background-size: auto 100%;

	&::placeholder { font: inherit; }
}

ul.files {
	margin: 1.5rem 0;

	li {
		margin: 0.75rem;
		display: flex;
		align-items: center;

		svg {
			height: 1.2em;
			width: 1.2em;
			display: inline-block;
			margin-right: 0.25em;
		}
	}
}
