$color-primary: #7b7;
$color-text: #333;

$body-padding: 5rem;
$content-width: 1220px;

$font-size: 16px;
$font-size--h1: 5rem;
$font-size--h2: 3rem;
$font-size--h3: 2rem;
$font-size--h4: 1.5rem;
$font-family: 'Poppins';
$font-weight: 300;

$section-spacing: 10rem;
$section-split-ratio: 2;

$timeline-color-line: #d0d0d0;
$timeline-color-bullet: #fff;
$timeline-border: 2px;
$timeline-spacing: 3rem;
$timeline-overlap: 5rem;
