$body-padding: 3rem;
$content-width: 1024px;

$font-size: 16px;
$font-size--h2: 3rem;
$font-size--h3: 2rem;
$font-size--h4: 1.5rem;
$font-family: 'Poppins';
$font-weight: 300;

$section-spacing: 10rem;
$section-split-ratio: 2;
